@import "../abstracts/all";

body {
	display: grid;
	height: 100vh;
  margin: 0 auto;
  grid-template-columns: 10vw repeat(10, auto) 10vw;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"main"
    "footer";
}

header {
	grid-area: header;
  grid-column: 1 / span 12;
}

main {
	grid-area: main;
  grid-column: 2 / span 10;

  &.login {
    place-self: center;

    @include desktop {
      place-self: unset;
      margin: 20vh auto auto;
    }
  }
}

footer {
  grid-area: footer;
  grid-column: 1 / span 12;
}
