<header>
  <div class="overlay"></div>
  <div class="hero">
    <p class="brand">
      <a href="/">Jobs DB</a>
    </p>
  </div>
  <nav>
    <ul>
      <li><a href="#">Browse</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="#">New</a></li>
      <li><a href="#">Approvals</a></li>
      <li><a href="#">Users</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
</header>
