@import "../abstracts/all";
form {
  background-color: $betterWhite;
  border: 2px solid $secondaryColor;
  border-radius: 1em;
  box-shadow: 3px 2em 6em 10px rgba(0,0,0,.33);
  padding: 2em;
  margin: 1em;
  width: 70vw;
  min-height: 50%;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: auto auto auto 1em auto auto 1em auto 1em;
  
  @include desktop {
    width: 50vw;
  }

  h2 {
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: .3em;
  }

  input {
    display: block;
    height: 2em;
    padding: .5em;
    width: 100%;
    margin-bottom: .3em;

    &[type="submit"] {
      margin: auto 0;
      background-color: $secondaryColor;
      font-size: 1em;
      font-weight: 400;
      color: #fff;
    }
  }
  p.errors {
    color: red;
    margin: 0;
    padding: 0;
    height: 1.4em;
    margin-bottom: .4em;
    font-size: .75em;
    text-align: right;
    width: 100%;
  }
}
