@import "../abstracts/all";

body {
	display: grid;
	min-height: 100vh;
  margin: 0 auto;
  grid-template-columns: 5vw repeat(10, auto) 5vw;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"main"
    "footer";

    @include for-phone-only {
      grid-template-columns: repeat(12, auto);
      overflow-x: hidden;
    }
}

header {
	grid-area: header;
  grid-column: 1 / span 12;
}

main {
	grid-area: main;
  grid-column: 2 / span 10;

  &.login {
    place-self: center;

    @include for-desktop-up {
      place-self: unset;
      margin: auto auto;
    }
  }
}

footer {
  grid-area: footer;
  grid-column: 1 / span 12;
}
