/* Generic breakpoints */
* {
  box-sizing: border-box; }

body {
  margin: 0; }

body {
  color: #464646;
  font-size: 100%;
  line-height: 1.4283;
  font-family: "Segoe UI", Roboto, Verdana, "Helvetica Neue", sans-serif; }

h1,
h2,
h3 {
  font-weight: 400; }

a {
  color: #bb3e14;
  text-decoration: none; }

/* Generic breakpoints */
body {
  display: grid;
  height: 100vh;
  margin: 0 auto;
  grid-template-columns: 5vw repeat(10, auto) 5vw;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header;
  grid-column: 1 / span 12; }

main {
  grid-area: main;
  grid-column: 2 / span 10; }
  main.login {
    place-self: center; }
    @media all and (min-width: 1200px) {
      main.login {
        place-self: unset;
        margin: 20vh auto auto; } }

footer {
  grid-area: footer;
  grid-column: 1 / span 12; }

header {
  height: 6em;
  min-height: 20vh;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/masthead.webp");
  display: flex;
  justify-content: center;
  position: relative; }
  header .overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5; }
  header div.hero {
    z-index: 400;
    width: 100%; }
    header div.hero .brand {
      text-transform: uppercase;
      letter-spacing: .1em;
      font-weight: 600;
      font-size: 3em;
      width: 100%;
      display: block;
      text-align: right;
      margin: auto;
      padding-left: 10vw;
      padding-right: 10vw; }
      header div.hero .brand a {
        color: #fff;
        opacity: 95%; }
  header nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 400;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1); }
    header nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-flow: wrap;
      justify-content: center; }
      header nav ul li {
        letter-spacing: 0.3em;
        background: none;
        padding: 5px 14px 7px; }
        header nav ul li a {
          text-transform: uppercase;
          color: #fff;
          font-size: 1.2em;
          opacity: 0.7;
          transition: opacity 1.5s ease; }
          header nav ul li a:hover {
            text-decoration: underline;
            opacity: 1; }

footer {
  height: 3em;
  min-height: 10vh;
  width: 100%;
  background-color: #040303;
  padding: 1em 10vw;
  margin: auto; }
  footer div {
    text-align: right; }

/* Generic breakpoints */
.table-container table {
  table-layout: fixed;
  width: 100%;
  /* border-spacing: 0; */
  /* border: 2px solid $secondaryColor; */
  border-collapse: collapse;
  border-style: hidden;
  border-radius: 0.5em;
  box-shadow: 0 0 0 2px #bb3e14, 3px 2em 6em 10px rgba(0, 0, 0, 0.33); }
  .table-container table thead {
    background-color: #464646;
    color: #f6f4f2; }
    .table-container table thead tr th:first-child {
      border-top-left-radius: 0.5em; }
    @media all and (max-width: 500px) {
      .table-container table thead tr th:nth-child(6) {
        border-top-right-radius: 0.5em; } }
    @media all and (min-width: 600px) {
      .table-container table thead tr th:nth-child(6) {
        border-top-right-radius: unset; }
      .table-container table thead tr th:nth-child(10) {
        border-top-right-radius: 0.5em; } }
    @media all and (min-width: 1200px) {
      .table-container table thead tr th:nth-child(10) {
        border-top-right-radius: unset; }
      .table-container table thead tr th:last-child {
        border-top-right-radius: 0.5em; } }
  .table-container table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2); }
  .table-container table tr:focus {
    background-color: rgba(251, 255, 0, 0.5);
    color: #000; }
  .table-container table th,
  .table-container table td {
    padding: .3em; }
    .table-container table th:nth-child(1),
    .table-container table td:nth-child(1) {
      width: 64%; }
    .table-container table th.priority-2, .table-container table th.priority-3, .table-container table th.priority-4, .table-container table th.priority-5,
    .table-container table td.priority-2,
    .table-container table td.priority-3,
    .table-container table td.priority-4,
    .table-container table td.priority-5 {
      display: none; }
    @media all and (max-width: 500px) {
      .table-container table th,
      .table-container table td {
        font-size: .8em;
        padding: .1em; }
        .table-container table th.priority-1,
        .table-container table td.priority-1 {
          display: none; }
        .table-container table th:nth-child(1),
        .table-container table td:nth-child(1) {
          width: 72%; } }
    @media all and (min-width: 600px) {
      .table-container table th,
      .table-container table td {
        padding: .4em; }
        .table-container table th:nth-child(1),
        .table-container table td:nth-child(1) {
          width: 54%; }
        .table-container table th.priority-2,
        .table-container table td.priority-2 {
          display: revert; } }
    @media all and (min-width: 900px) {
      .table-container table th,
      .table-container table td {
        padding: .5em; }
        .table-container table th:nth-child(1),
        .table-container table td:nth-child(1) {
          width: 40%; }
        .table-container table th.priority-3,
        .table-container table td.priority-3 {
          display: revert; } }
    @media all and (min-width: 1200px) {
      .table-container table th:nth-child(1),
      .table-container table td:nth-child(1) {
        width: 38%; }
      .table-container table th.priority-4,
      .table-container table td.priority-4 {
        display: revert; } }
    @media all and (min-width: 1800px) {
      .table-container table th:nth-child(1),
      .table-container table td:nth-child(1) {
        width: 30%; }
      .table-container table th.priority-5,
      .table-container table td.priority-5 {
        display: revert; } }
  .table-container table thead {
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 600;
    text-align: left; }
  .table-container table tbody td {
    font-size: .8em;
    min-width: 4em; }

/* Generic breakpoints */
form {
  background-color: #f6f4f2;
  border: 2px solid #bb3e14;
  border-radius: 1em;
  box-shadow: 3px 2em 6em 10px rgba(0, 0, 0, 0.33);
  padding: 2em;
  margin: 1em;
  width: 70vw;
  min-height: 50%;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: auto auto auto 1em auto auto 1em auto 1em; }
  @media all and (min-width: 1200px) {
    form {
      width: 50vw; } }
  form h2 {
    text-align: center; }
  form label {
    display: block;
    margin-bottom: .3em; }
  form input {
    display: block;
    height: 2em;
    padding: .5em;
    width: 100%;
    margin-bottom: .3em; }
    form input[type="submit"] {
      margin: auto 0;
      background-color: #bb3e14;
      font-size: 1em;
      font-weight: 400;
      color: #fff; }
  form p.errors {
    color: red;
    margin: 0;
    padding: 0;
    height: 1.4em;
    margin-bottom: .4em;
    font-size: .75em;
    text-align: right;
    width: 100%; }

/*# sourceMappingURL=main.css.map */