<h2>Receiving Log</h2>
<section class="faq">
  <h3>ReceivingDB</h3>
  <p>
    Currently, dock receipts for Bulk Apothecary/Natural Essentials are recorded
    on a Google Sheet and archived once a month to a separate sheet where they
    are separated by month. While this does allow for record retention as well
    as audit history, it has several shortcomings including:
  </p>
  <ul>
    <li>The log must be copied and erased monthly, which allows for possible
      data mutation
    </li>
    <li>There is no input validation, allowing for mistakes and omissions</li>
    <li>
      There is never more than one month's worth of data available from current
      log
    </li>
    <li>
      Querying archived information is a frustrating endeavor, as each month is 
      stored on a separate tab.
    </li>
    <li>
      Because of the way that the data is archived, it is very difficult to
      connect the receiving log entries to any other sort of application or
      service
    </li>
  </ul>
  <p>
    This application, <span>ReceivingDB</span>, attempts to address some of
    those shortcomings by storing the exact same data in a format that is
    searchable, retrievable, and available to connect to other services in the
    future.
  </p>
</section>
<section class="faq">
  <h3>FAQ</h3>
  <p>Coming soon...</p>
</section>
<section class="faq">
  <h3>SOP/Work Instructions</h3>
  <p>
    After defining the SOP and/or work instructions for this application, they
    can be displayed right on the landing page to empower our team with the
    knowledge that their process is validated and approved.
  </p>
</section>
