<form action="/api/auth" id="login-form" method="post">
  <h2>Welcome</h2>
  <label for="username">Username</label>
  <input id="username" name="username" type="text" />
  <p class="errors"></p>
  <label for="password">Password</label>
  <input id="password" name="password" type="password" />
  <p class="errors"></p>
  <input type="submit" value="Log in" />
  <p class="errors"></p>
</form>

<script defer src="/javascripts/login.js"></script>
