<h2>New Entry</h2>

<div>
  <form>
    <div class="form-row flex-right">
      <div class="form-group">
        <input
          aria-labelledby="date-label"
          id="date"
          name="date"
          type="date"
          value="{{dateNowInput}}"
        />
        <label for="date" id="date-label">Date</label>
      </div>      
      <div class="form-group">
        <input
          aria-labelledby="time-label"
          id="time"
          name="time"
          type="time"
          value="{{timeNowInput}}"
        />
        <label for="time" id="time-label">Time</label>
      </div>
    </div>
    <div class="form-row flex-split">
      <div class="form-group">
        <input
          aria-labelledby="vendor-label"
          id="vendor"
          name="vendor"
          type="text"
        />
        <label for="vendor" id="vendor-label">Vendor</label>
      </div>
      <div class="form-group">
        <input
          aria-labelledby="po-label"
          id="po"
          name="po"
          type="text"
        />
        <label for="po" id="po-label">Purchase Order</label>
      </div>
      <div class="form-group">
        <input
          arialabelledby="carrier-label"
          id="carrier"
          name="carrier"
          type="text"
        />
        <label for="carrier" id="carrier-label">Carrier</label>
      </div>
      <div class="form-group">
        <input
          arialabelledby="intendedFor-label"
          id="intendedFor"
          name="intendedFor"
          type="text"
        />
        <label for="intendedFor" id="intendedFor-label">Intended For</label>
      </div>
    </div>
  </form>
</div>
