<h2>Password Reset</h2>

<form>
  <fieldset>
    <legend>Please set a new password</legend>
    <input
      autocomplete="new-password"
      aria-labelledby="password-label"
      id="password"
      name="password"
      type="password"
    />
    <label for="password" id="password-label">New password</label>
    <input
      autocomplete="new-password"
      aria-labelledby="password-confirmation-label"
      id="password-confirmation"
      name="confirm password"
      type="password"
    />
    <label for="password-confirmation" id="password-confirmation-label">
      Please confirm your password
    </label>
    <input type="submit" />
  </fieldset>
</form>
