/* Generic breakpoints */
/**
 * abstracts/_variables.scss
 */
/* colors */
/* defaults */
* {
  box-sizing: border-box; }

body {
  margin: 0; }

body {
  color: #464646;
  font-size: 100%;
  line-height: 1.4283;
  font-family: "Segoe UI", Roboto, Verdana, "Helvetica Neue", sans-serif; }

h1,
h2,
h3 {
  font-weight: 400; }

h2 {
  font-size: 2em;
  text-transform: uppercase; }

a {
  color: #bb3e14;
  text-decoration: none; }

/* Generic breakpoints */
/**
 * abstracts/_variables.scss
 */
/* colors */
/* defaults */
body {
  display: grid;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-columns: 5vw repeat(10, auto) 5vw;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header;
  grid-column: 1 / span 12; }

main {
  grid-area: main;
  grid-column: 2 / span 10; }
  main.login {
    place-self: center; }
    @media all and (min-width: 1200px) {
      main.login {
        place-self: unset;
        margin: auto auto; } }

footer {
  grid-area: footer;
  grid-column: 1 / span 12; }

header {
  height: 6em;
  min-height: 20vh;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/masthead.webp");
  display: flex;
  justify-content: center;
  position: relative; }
  header .overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5; }
  header div.hero {
    z-index: 400;
    width: 100%; }
    header div.hero .brand {
      text-transform: uppercase;
      letter-spacing: .1em;
      font-weight: 600;
      font-size: 3em;
      width: 100%;
      display: block;
      text-align: right;
      margin: auto;
      padding-left: 10vw;
      padding-right: 10vw; }
      header div.hero .brand a {
        color: #fff;
        opacity: 95%; }
  header nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 400;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1); }
    header nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-flow: wrap;
      justify-content: center; }
      header nav ul li {
        letter-spacing: 0.3em;
        background: none;
        padding: 5px 14px 7px; }
        header nav ul li a {
          text-transform: uppercase;
          color: #fff;
          font-size: 1.2em;
          opacity: 0.7;
          transition: opacity 1.5s ease; }
          header nav ul li a:hover {
            text-decoration: underline;
            opacity: 1; }

footer {
  height: 3em;
  min-height: 10vh;
  width: 100%;
  background-color: #040303;
  padding: 1em 10vw;
  margin: auto; }
  footer div {
    text-align: right; }
  footer h3 {
    color: #a5a5a5; }

main h2 {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  font-weight: 500;
  padding: .5em;
  text-transform: uppercase;
  font-size: 2em; }

/**
 * pages/all.scss
 */
/* Generic breakpoints */
/**
 * abstracts/_variables.scss
 */
/* colors */
/* defaults */
.browse {
  padding-bottom: 4em; }
  .browse h2 {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    font-weight: 500;
    padding: .5em; }
  .browse p {
    margin: 0;
    color: #bb3e14; }
  .browse nav {
    font-size: 1em;
    font-weight: 500;
    letter-spacing: normal; }
    .browse nav ul {
      list-style: none;
      text-align: right;
      margin-bottom: 0; }
      .browse nav ul li {
        display: inline-block;
        margin-left: 2em;
        margin-right: .4em; }
        .browse nav ul li a.disabled {
          pointer-events: none;
          color: #5a5a5a; }
        .browse nav ul li a:hover {
          text-decoration: underline; }

.table-container table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  border-radius: 0.5em;
  box-shadow: 0 0 0 2px #bb3e14, 3px 2em 6em 10px rgba(0, 0, 0, 0.33); }
  .table-container table caption {
    width: 100%;
    padding-bottom: 1em;
    letter-spacing: .1em;
    font-weight: 500;
    font-size: 1.1em; }
  .table-container table thead {
    background-color: #464646;
    color: #f6f4f2; }
    .table-container table thead tr th:first-child {
      border-top-left-radius: 0.5em; }
    @media all and (max-width: 500px) {
      .table-container table thead tr th:nth-child(6) {
        border-top-right-radius: 0.5em; } }
    @media all and (min-width: 600px) {
      .table-container table thead tr th:nth-child(6) {
        border-top-right-radius: unset; }
      .table-container table thead tr th:nth-child(10) {
        border-top-right-radius: 0.5em; } }
    @media all and (min-width: 1200px) {
      .table-container table thead tr th:nth-child(10) {
        border-top-right-radius: unset; }
      .table-container table thead tr th:last-child {
        border-top-right-radius: 0.5em; } }
  .table-container table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2); }
  .table-container table tr:focus {
    background-color: rgba(251, 255, 0, 0.5);
    color: #000;
    outline: auto; }
  .table-container table th,
  .table-container table td {
    padding: .3em; }
    .table-container table th:nth-child(1),
    .table-container table td:nth-child(1) {
      width: 64%; }
    .table-container table th.priority-2, .table-container table th.priority-3, .table-container table th.priority-4, .table-container table th.priority-5,
    .table-container table td.priority-2,
    .table-container table td.priority-3,
    .table-container table td.priority-4,
    .table-container table td.priority-5 {
      display: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    @media all and (max-width: 500px) {
      .table-container table th,
      .table-container table td {
        font-size: .8em;
        padding: .1em; }
        .table-container table th.priority-1,
        .table-container table td.priority-1 {
          display: none; }
        .table-container table th:nth-child(1),
        .table-container table td:nth-child(1) {
          width: 72%; } }
    @media all and (min-width: 600px) {
      .table-container table th,
      .table-container table td {
        padding: .4em; }
        .table-container table th:nth-child(1),
        .table-container table td:nth-child(1) {
          width: 54%; }
        .table-container table th.priority-2,
        .table-container table td.priority-2 {
          display: revert; } }
    @media all and (min-width: 900px) {
      .table-container table th,
      .table-container table td {
        padding: .5em; }
        .table-container table th:nth-child(1),
        .table-container table td:nth-child(1) {
          width: 40%; }
        .table-container table th.priority-3,
        .table-container table td.priority-3 {
          display: revert; } }
    @media all and (min-width: 1200px) {
      .table-container table th:nth-child(1),
      .table-container table td:nth-child(1) {
        width: 38%; }
      .table-container table th.priority-4,
      .table-container table td.priority-4 {
        display: revert; } }
    @media all and (min-width: 1800px) {
      .table-container table th:nth-child(1),
      .table-container table td:nth-child(1) {
        width: 30%; }
      .table-container table th.priority-5,
      .table-container table td.priority-5 {
        display: revert; } }
  .table-container table thead {
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 600;
    text-align: left; }
  .table-container table tbody td {
    font-size: .8em;
    min-width: 4em; }

/* Generic breakpoints */
/**
 * abstracts/_variables.scss
 */
/* colors */
/* defaults */
.login form {
  background-color: #f6f4f2;
  border: 2px solid #bb3e14;
  border-radius: 1em;
  box-shadow: 3px 2em 6em 10px rgba(0, 0, 0, 0.33);
  padding: 2em;
  margin: 1em;
  width: 70vw;
  min-height: 50%;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: auto auto auto 1em auto auto 1em auto 1em; }
  @media all and (min-width: 1200px) {
    .login form {
      width: 50vw; } }
  @media all and (min-width: 1800px) {
    .login form {
      font-size: 1.2em;
      width: 40vw; } }
  .login form h2 {
    text-align: center; }
  .login form label {
    display: block;
    margin-bottom: .3em; }
  .login form input {
    display: block;
    height: 2em;
    padding: .5em;
    width: 100%;
    margin-bottom: .3em; }
    .login form input[type="submit"] {
      margin: auto 0;
      background-color: #bb3e14;
      font-size: 1em;
      font-weight: 400;
      color: #fff; }
  .login form p.errors {
    color: red;
    margin: 0;
    padding: 0;
    height: 1.4em;
    margin-bottom: .4em;
    font-size: .75em;
    text-align: right;
    width: 100%; }

/* Generic breakpoints */
/**
 * abstracts/_variables.scss
 */
/* colors */
/* defaults */
.new form {
  width: 100%;
  min-height: 50vh;
  border: 2px solid #bb3e14;
  box-shadow: 3px 2em 6em 10px rgba(0, 0, 0, 0.33);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 10em; }
  .new form input {
    padding: .5em;
    font-size: 1.1em; }
  .new form button {
    font-size: 1.1em; }
  .new form h3 {
    width: 100%;
    color: #bb3e14;
    text-transform: uppercase;
    letter-spacing: .6em;
    font-size: 1.4em;
    text-align: center;
    border-bottom: 2px solid #bb3e14;
    font-weight: 500; }
  @media all and (min-width: 1800px) {
    .new form {
      padding: 4em 20em; } }
  .new form div.form-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 2em;
    opacity: 1;
    transition: opacity 2s ease, height 2s ease; }
    .new form div.form-row.hidden {
      opacity: 0;
      height: 0; }
    .new form div.form-row .form-group input,
    .new form div.form-row .form-group label {
      display: block;
      min-width: 300px; }
    .new form div.form-row .form-group.form-items input,
    .new form div.form-row .form-group.form-items label {
      min-width: 400px; }
      @media all and (min-width: 1200px) {
        .new form div.form-row .form-group.form-items input,
        .new form div.form-row .form-group.form-items label {
          min-width: 600px; } }
    .new form div.form-row .form-group.details {
      margin-left: auto; }
    .new form div.form-row .form-group span.errors {
      float: right;
      font-size: .6em;
      opacity: 0;
      transition: opacity 1s ease;
      color: red; }
      .new form div.form-row .form-group span.errors.active {
        opacity: 1; }
    .new form div.form-row .form-group input {
      border-left: none;
      border-top: none;
      border-right: none;
      border-bottom: 2px solid #bb3e14; }
    .new form div.form-row .form-group label {
      color: #bb3e14; }
    .new form div.form-row.form-control {
      justify-content: center;
      margin-top: 4em; }
      .new form div.form-row.form-control .button-group button,
      .new form div.form-row.form-control .button-group input {
        padding: .5em;
        margin: 0 0 1em;
        min-width: 8em;
        color: #fff;
        text-transform: uppercase;
        background-color: #bb3e14;
        letter-spacing: .2em;
        border: none;
        border-radius: 2px;
        width: 100%; }
        .new form div.form-row.form-control .button-group button[type=submit],
        .new form div.form-row.form-control .button-group input[type=submit] {
          background-color: #008635;
          min-width: 24em; }
        @media all and (min-width: 600px) {
          .new form div.form-row.form-control .button-group button,
          .new form div.form-row.form-control .button-group input {
            width: auto; } }
    .new form div.form-row.flex-right {
      justify-content: flex-end; }
      .new form div.form-row.flex-right .form-group {
        margin-left: 1em; }
    .new form div.form-row.flex-split {
      justify-content: space-between; }

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  opacity: 0;
  transition: opacity 1s ease; }
  #loader.loading {
    opacity: 1; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.errors {
  color: red;
  opacity: 0;
  transition: opacity 1s ease; }
  .errors.active {
    opacity: 1; }

/* Generic breakpoints */
/**
 * abstracts/_variables.scss
 */
/* colors */
/* defaults */
.search div#search-options > div:nth-child(3),
.search div#search-options > div:nth-child(5) {
  background-color: #f7f7f7; }

.search span.errors {
  float: right; }

.search .search-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1em 1em 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .search .search-row .search-label {
    text-transform: uppercase;
    font-weight: 500;
    width: 200px;
    margin-bottom: 1em; }
  .search .search-row .search-inputs {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
    .search .search-row .search-inputs button {
      min-width: 200px;
      height: 2em;
      margin: 0 auto;
      display: block;
      background-color: #008635;
      color: #fff;
      padding: .2em;
      border: none;
      border-radius: .2em;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500; }
      @media all and (min-width: 600px) {
        .search .search-row .search-inputs button {
          margin: 0 1em 0 auto; } }
    .search .search-row .search-inputs .input-group {
      width: 100%;
      margin-bottom: 1em; }
      .search .search-row .search-inputs .input-group label {
        font-size: .8em; }
      .search .search-row .search-inputs .input-group input,
      .search .search-row .search-inputs .input-group label {
        display: block;
        min-width: 200px;
        width: 100%;
        margin: 0 .5em;
        padding: .3em; }
      @media all and (min-width: 600px) {
        .search .search-row .search-inputs .input-group {
          width: 46%; } }
      @media all and (min-width: 1200px) {
        .search .search-row .search-inputs .input-group {
          width: 30%;
          margin: 0 auto 1em; } }
      @media all and (min-width: 600px) {
        .search .search-row .search-inputs .input-group.po-input {
          width: 100%; } }
      @media all and (min-width: 1200px) {
        .search .search-row .search-inputs .input-group.po-input {
          width: 60%; } }
    @media all and (min-width: 600px) {
      .search .search-row .search-inputs:nth-child(2) {
        justify-content: space-between; } }
    @media all and (min-width: 1200px) {
      .search .search-row .search-inputs {
        width: 70%; } }
    @media all and (min-width: 600px) {
      .search .search-row .search-inputs.one {
        width: 98%; } }
    @media all and (min-width: 900px) {
      .search .search-row .search-inputs.one {
        width: 70%; }
        .search .search-row .search-inputs.one .input-group {
          margin-left: auto; } }
    @media all and (min-width: 600px) {
      .search .search-row .search-inputs.three div:nth-child(1) {
        width: 98%; }
      .search .search-row .search-inputs.three button {
        margin: 0 2em 0 auto; } }
    @media all and (min-width: 900px) {
      .search .search-row .search-inputs.three {
        width: 70%; }
        .search .search-row .search-inputs.three div:nth-child(1) {
          width: 100%; }
        .search .search-row .search-inputs.three button {
          margin: 0 1em 0 auto; } }
    @media all and (min-width: 1200px) {
      .search .search-row .search-inputs.three div:nth-child(1) {
        width: 60%; }
      .search .search-row .search-inputs.three div.flex-break {
        min-width: 200px;
        margin: 0 1em 0 auto; } }
  @media all and (min-width: 1800px) {
    .search .search-row {
      padding: 4em 10em; } }

/* Generic breakpoints */
/**
 * abstracts/_variables.scss
 */
/* colors */
/* defaults */
main.user {
  padding-bottom: 4em; }
  main.user nav {
    font-size: 1em;
    font-weight: 500;
    letter-spacing: normal; }
    main.user nav ul {
      list-style: none;
      text-align: right;
      margin-bottom: 0; }
      main.user nav ul li {
        display: inline-block;
        margin-left: 2em;
        margin-right: .4em; }
        main.user nav ul li a:hover {
          text-decoration: underline; }
  @media all and (max-width: 500px) {
    main.user .table-container table th:nth-child(1) {
      border-top-right-radius: .5em; } }
  @media all and (min-width: 600px) {
    main.user .table-container table th:nth-child(1),
    main.user .table-container table td:nth-child(1) {
      width: auto; }
    main.user .table-container table th:nth-child(3) {
      border-top-right-radius: .5em; } }
  @media all and (min-width: 900px) {
    main.user .table-container table th:nth-child(3) {
      border-top-right-radius: unset; }
    main.user .table-container table th:nth-child(4) {
      border-top-right-radius: .5em; } }
  @media all and (min-width: 1200px) {
    main.user .table-container table th:nth-child(4) {
      border-top-right-radius: unset; }
    main.user .table-container table th:nth-child(5) {
      border-top-right-radius: .5em; } }
  @media all and (min-width: 1800px) {
    main.user .table-container table th:nth-child(5) {
      border-top-right-radius: unset; }
    main.user .table-container table th:nth-child(6) {
      border-top-right-radius: .5em; }
    main.user .table-container table th.enabled {
      width: 5%; }
    main.user .table-container table td.enabled {
      font-weight: 600;
      font-size: 1.1em;
      width: 5%; } }

/* Generic breakpoints */
/**
 * abstracts/_variables.scss
 */
/* colors */
/* defaults */
main.user-form div.lastLogin {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.2em;
  color: #bb3e14;
  letter-spacing: .1em; }
  main.user-form div.lastLogin p {
    margin: 0; }

main.user-form div#submission-errors {
  text-align: center;
  font-weight: 500;
  font-size: 1.2em;
  color: red; }

main.user-form form {
  padding: 1em;
  margin-bottom: 6em; }
  main.user-form form span.errors {
    float: right;
    font-size: .9em;
    opacity: 0;
    transition: opacity 1s ease;
    margin-right: 18em; }
    main.user-form form span.errors.active {
      opacity: 1; }
  main.user-form form div.form-group {
    margin-bottom: 2em; }
    main.user-form form div.form-group label {
      color: #bb3e14; }
    main.user-form form div.form-group input {
      padding: .5em; }
    @media all and (max-width: 500px) {
      main.user-form form div.form-group input[type="checkbox"] {
        width: 2em;
        height: 2em;
        border-radius: 5px; } }
    @media all and (min-width: 600px) {
      main.user-form form div.form-group input[type="checkbox"] {
        width: 1.8em;
        height: 1.8em; } }
    main.user-form form div.form-group input[type="text"],
    main.user-form form div.form-group input[type="email"],
    main.user-form form div.form-group input[type="password"],
    main.user-form form div.form-group label {
      display: block;
      min-width: 400px;
      margin-bottom: .2em; }
      @media all and (min-width: 600px) {
        main.user-form form div.form-group input[type="text"],
        main.user-form form div.form-group input[type="email"],
        main.user-form form div.form-group input[type="password"],
        main.user-form form div.form-group label {
          min-width: 450px; } }
      @media all and (min-width: 900px) {
        main.user-form form div.form-group input[type="text"],
        main.user-form form div.form-group input[type="email"],
        main.user-form form div.form-group input[type="password"],
        main.user-form form div.form-group label {
          min-width: 500px; } }
      @media all and (min-width: 1200px) {
        main.user-form form div.form-group input[type="text"],
        main.user-form form div.form-group input[type="email"],
        main.user-form form div.form-group input[type="password"],
        main.user-form form div.form-group label {
          min-width: 700px; } }
      main.user-form form div.form-group input[type="text"]#reset-label,
      main.user-form form div.form-group input[type="email"]#reset-label,
      main.user-form form div.form-group input[type="password"]#reset-label,
      main.user-form form div.form-group label#reset-label {
        display: unset; }
    main.user-form form div.form-group.roles-group input,
    main.user-form form div.form-group.roles-group label {
      margin-right: 4em; }
    main.user-form form div.form-group.roles-group label {
      min-width: 4em; }
    main.user-form form div.form-group.action {
      margin-top: 2em; }
  main.user-form form fieldset {
    box-shadow: 3px 2em 6em 10px rgba(0, 0, 0, 0.33);
    margin-bottom: 2em;
    border-radius: .5em;
    border: 2px solid #bb3e14;
    background-color: #f6f4f2;
    padding: 1em 1em; }
    @media all and (min-width: 900px) {
      main.user-form form fieldset {
        padding: 1em 4em; } }
    @media all and (min-width: 1200px) {
      main.user-form form fieldset {
        padding: 1em 8em; } }
    @media all and (min-width: 1800px) {
      main.user-form form fieldset {
        padding: 2em 30em; } }
  main.user-form form fieldset[name="roles"] {
    display: flex;
    justify-content: flex-start; }
  main.user-form form fieldset.action {
    border: none;
    padding: 1em 0;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0); }
    main.user-form form fieldset.action input {
      min-width: 180px;
      margin: 0 auto;
      display: block;
      background-color: #008635;
      text-transform: uppercase;
      letter-spacing: .2em;
      min-width: 24em;
      color: #fff;
      border: none;
      border-radius: .2em;
      font-size: 1.2em; }
  main.user-form form legend {
    color: #bb3e14;
    font-weight: 500;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1em; }

/* Generic breakpoints */
/**
 * abstracts/_variables.scss
 */
/* colors */
/* defaults */
section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1em; }
  section.header-label {
    background-color: #bb3e14;
    border-radius: 0 1em;
    color: #f6f4f2;
    letter-spacing: .1em; }
  section.date-label {
    padding: 0 1em;
    font-weight: 500; }
    section.date-label button {
      background: none;
      border: none;
      padding: 0;
      font-size: 1em;
      color: #bb3e14;
      text-decoration: underline;
      cursor: pointer; }
  section.received {
    justify-content: flex-end;
    padding-top: 0;
    margin-bottom: 4em; }

div.items {
  margin: 1em 1em 0;
  padding: 0 .5em 1em;
  background-color: #f6f4f2; }
  @media all and (min-width: 600px) {
    div.items {
      padding: 0 2em 2em; } }
  div.items h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.4em;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: .5em; }
  div.items div.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 .4em; }
    @media all and (min-width: 600px) {
      div.items div.flex-row {
        padding: 0 2em; } }
    div.items div.flex-row.row-0 {
      background-color: rgba(0, 0, 0, 0.1); }
    div.items div.flex-row p {
      margin-top: 0;
      margin-bottom: .5em; }
    div.items div.flex-row span.item {
      font-weight: 500; }
    div.items div.flex-row span.item-label {
      text-transform: uppercase;
      font-weight: 500;
      font-size: .8em; }
      @media all and (min-width: 600px) {
        div.items div.flex-row span.item-label {
          font-size: .9em; } }
    div.items div.flex-row .flex-col {
      width: 100%;
      padding-right: 1.4em; }
      @media all and (min-width: 600px) {
        div.items div.flex-row .flex-col {
          width: 50%; } }

button.browse {
  visibility: hidden; }
  button.browse.instance-0 {
    visibility: visible; }

main.view h3 {
  display: block;
  text-align: center; }

/*# sourceMappingURL=main.css.map */