@import "../abstracts/all";

.new {
  form {
    width: 100%;
    min-height: 50vh;
    border: 2px solid $secondaryColor;
    box-shadow: $boxShadow;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 10em;

    input {
      padding: .5em;
      font-size: 1.1em;
    }

    button {
      font-size: 1.1em;
    }

    h3 {
      width: 100%;
      color: $secondaryColor;
      text-transform: uppercase;
      letter-spacing: .6em;
      font-size: 1.4em;
      text-align: center;
      border-bottom: 2px solid $secondaryColor;
      font-weight: 500;
    }

    @include for-big-desktop-up {
      padding: 4em 20em;
    }

    div.form-row {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      margin-bottom: 2em;
      opacity: 1;
      transition: opacity 2s ease, height 2s ease;

      &.hidden {
        opacity: 0;
        height: 0;
      }

      .form-group {
        input,
        label {
          display: block;
          min-width: 300px;
        }

        &.form-items {
          input,
          label {
            min-width: 400px;

            @include for-desktop-up {
              min-width: 600px;
            }
          }
        }

        &.details {
          margin-left: auto;
        }

        span.errors {
          float: right;
          font-size: .6em;
          opacity: 0;
          transition: opacity 1s ease;
          color: red;

          &.active {
            opacity: 1;
          }
        }

        input {
          border-left: none;
          border-top: none;
          border-right: none;
          border-bottom: 2px solid $secondaryColor;
        }

        label {
          color: $secondaryColor;
        }
      }

      &.form-control {
        justify-content: center;
        margin-top: 4em;

        .button-group {
          button,
          input {
            padding: .5em;
            margin: 0 0 1em;
            min-width: 8em;
            color: #fff;
            text-transform: uppercase;
            background-color: $secondaryColor;
            letter-spacing: .2em;
            border: none;
            border-radius: 2px;
            width: 100%;

            &[type=submit] {
              background-color: #02a442;
              min-width: 24em;
            }

            @include for-tablet-portrait-up {
              width: auto;
            }
          }
        }
      }

      &.flex-right {
        justify-content: flex-end;

        .form-group {
          margin-left: 1em;
        }
      }

      &.flex-split {
        justify-content: space-between;

      }
    }
  }
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  opacity: 0;
  transition: opacity 1s ease;

  &.loading {
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.errors {
  color: red;
  opacity: 0;
  transition: opacity 1s ease;

  &.active {
    opacity: 1;
  }
}
