@import "../abstracts/all";

main.reset {

  @include for-desktop-up {
    form {
      padding: 1em 8em;

      fieldset {
        padding: 2em 0;
      }
    }
  }
  @include for-big-desktop-up {
    form {
      padding: 2em 20em;

      fieldset {
        padding: 8em 0;
      }
    }
  }
  fieldset {
    border: 2px solid $secondaryColor;
    border-radius: .5em;
    box-shadow: $boxShadow;
    max-width: 100%;

    legend {
      color: $secondaryColor;
      font-weight: 500;
      font-size: 1.2em;
      max-width: 100%;
    }
  }

  label,
  input {
    display: block;
    padding: .5em;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    @include for-tablet-portrait-up {
      width: 70%;
    }
    @include for-tablet-landscape-up {
      width: 60%;
    }
  }
  label {
    margin-bottom: .5em;
    font-size: .9em;
  }

  input[type="submit"] {
    width: 100%;
    background-color: $secondaryColor;
    color: #fff;
    border-radius: .5em;
    text-transform: uppercase;
    outline: none;

    @include for-tablet-portrait-up {
      width: 70%;
    }

    @include for-tablet-landscape-up {
      width: 60%;
    }
  }

  span.errors {
    display: block;
    text-align: center;
  }
}
