<header>
  <div class="overlay"></div>
  <div class="hero">
    <p class="brand">
      <a href="/">receiving<span>DB</span></a>
    </p>
  </div>
  <nav>
    <ul>
      <li><a href="/browse?start=6">Browse</a></li>
      <li><a href="/search">Search</a></li>
      {{#if write}}
        <li><a href="/new">New</a></li>
      {{/if}}
      {{#if admin}}
          <li><a href="/user">Users</a></li>
      {{/if}}
      <li>
        {{#if user}}
          <a href="#" id="logout">Logout</a>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
      </li>
    </ul>
  </nav>
</header>

<script defer src="/javascripts/logout.js"></script>
