<header>
  <div class="overlay"></div>
  <div class="hero">
    <p class="brand">
      <a href="/">Receiving</a>
    </p>
  </div>
  <nav>
    <ul>
      <li><a href="/browse?start=6">Browse</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="/new">New</a></li>
      {{#if admin}}
          <li><a href="#">Users</a></li>
      {{/if}}
      <li>
        {{#if user}}
          <a href="#" id="logout">Logout</a>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
      </li>
    </ul>
  </nav>
</header>

<script defer>
  const logout = document.querySelector('#logout');

  async function handleLogout(e) {
    e.preventDefault();
    const logoutRequest = await fetch('/api/auth', {
      method: 'DELETE',
      credentials: 'same-origin',
    });
    const response = await logoutRequest.json();
    const { success } = response;
    if (success) window.location.replace('/');
  }

  if (logout) logout.addEventListener('click', handleLogout, false);
</script>
