<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body class="{{bodyClass}}">
    {{> header }}
    <main role="main" class="{{mainClass}}">
      {{{ body }}}
    </main>
    {{> footer }}
    {{!-- workaround for chrome bug that fires CSS transitions on load --}}
    <script> </script>
  </body>
</html>
